{{#extend "layout/main"}}
{{#content "body"}}
<section class="products">
  <div class="container">
    <div class="products__inner">
      <h2 class="products__title">
        What do you like to order?
      </h2>

      <div class="selector products__selector">
        <ul class="selector__list">
          {{#each selector.items}}

          {{#if this.active}}
          <li class="selector__item selector__item_active">
            {{else}}
          <li class="selector__item">
            {{/if}}

            <button class="selector__button">
              <svg class="selector__icon">
                <use href="{{this.icon}}"></use>
              </svg>
              <span class="selector__name">
                {{this.name}}
              </span>
            </button>
          </li>
          {{/each}}
        </ul>
      </div>

      <div class="assortment">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {{#each assortment}}
            <div class="swiper-slide">
              <div class="assortment__item">
                <div class="assortment__image">
                  <img src="{{this.image}}" alt="" />
                </div>
                <h3 class="assortment__name">
                  {{this.name}}
                </h3>
                <span>
                  {{this.pieces}} pieces
                </span>
                <p class="assortment__description">
                  {{this.description}}
                </p>
                <span class="assortment__price">
                  £{{this.price}}
                </span>
                <button class="assortment__button">Add to cart</button>
              </div>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="assortment__navigation">
          <div class="assortment__button-prev">
            <svg>
              <use href="#arrow-left"></use>
            </svg>
          </div>
          <div class="assortment__button-next">
            <svg>
              <use href="#arrow-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="d-flex flex-column align-items-center flex-lg-row justify-content-lg-end">
        <div class="about__invitation">
          <p>
            Our
            <strong>
              clients loves
            </strong>
            our
            <strong>
              sushi
            </strong>
            <br />
            and
            <strong>
              not only
            </strong>
          </p>
          <p>
            Be our next happy client.
            <br />
            First orders
            <strong>
              10% off
            </strong>
          </p>
        </div>
        <div class="reviews about__reviews">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              {{#each reviews}}
              <div class="swiper-slide">
                <div class="reviews__item">
                  <div class="reviews__content">
                    <div class="reviews__rating">
                      <svg>
                        <use href="#star-full"></use>
                      </svg>
                      <svg>
                        <use href="#star-full"></use>
                      </svg>
                      <svg>
                        <use href="#star-full"></use>
                      </svg>
                      <svg>
                        <use href="#star-half"></use>
                      </svg>
                      <svg>
                        <use href="#star-empty"></use>
                      </svg>
                    </div>
                    <p class="reviews__text">
                      {{this.text}}
                    </p>
                    <div class="reviews__info">
                      <span class="reviews__author">
                        {{this.author}}
                      </span>
                      <span class="reviews__date">
                        Reviewed {{this.date}}
                      </span>
                    </div>
                  </div>
                  <div class="reviews__avatar">
                    <img src="{{this.avatar}}" alt="" />
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          <div class="reviews__tripadvisor">
            <a href="#">
              <img src="/assets/img/tripadvisor.png" alt="" />
            </a>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column flex-lg-row align-items-lg-end mt-n5">
        <div class="instagram about__instagram">
          <div class="instagram__gallery swiper-container">
            <div class="instagram__header">
              <p class="instagram__subtitle">
                Check our profile on
              </p>
              <h2 class="instagram__title">
                Instagram
              </h2>
            </div>

            <div class="swiper-wrapper">
              {{#each instagram.photos}}
              <div class="swiper-slide">
                <div class="instagram__item">
                  <a href="#">
                    <img src="{{this.url}}" alt="" />
                  </a>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="about__info">
          <h2>
            About us
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam egestas
            wisi a erat. Cras elementum. Nulla pulvinar eleifend sem. Nulla accumsan,
            elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit
            diam nulla vel leo. Nullam feugiat, turpis at pulvinar vulputate, erat
            libero tristique tellus, nec bibendum odio risus sit amet ante. Nullam
            eget nisl. Maecenas lorem.
          </p>
          <p>
            Nullam sapien sem, ornare ac, nonummy non, Nulla accumsan, elit sit amet
            varius semper, nulla mauris mollis quam, tempor suscipit lobortis a enim.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{/content}}
{{/extend}}